---
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'

const { content } = Astro.props;
---
<html>
  <head>
    <title>{content.title}</title>
  </head>
  <body>
    <Navbar />
    <div class="min-h-screen container mx-auto px-52 mt-10">
      <div class="flex items-center px-24">
        <!-- change url to https://github.com/lucasangelino/blogg/blob/main/src/pages/posts/{POST_NAME} -->
        <img src="https://midu.dev/images/tags/performance.png" class="w-20 mr-7" alt="Title Image">
        <div>
          <h1 class="text-4xl mb-2">{content.title}</h1>
          <span class="text-sm">{content.date} - </span>
          <span class="text-sm">{content.readtime} minutos de lectura - </span>
            <a href="https://github.com/lucasangelino/blogg/pulls" target="_blank">              
              <span class="text-sm font-semibold hover:text-blue-500">¿Una errata? Edita el articulo</span>
            </a>
        </div>
      </div>
      <div class="my-20">
        <slot />
      </div>
    </div>
    <Footer /> 
  </body>
</html>

<style is:global>
  * {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  p {
    font-size: 18px;
    margin: 40px 0;
    color: rgb(37, 36, 36);
  }
  h1 {
    font-size: 36px;
    margin: 40px 0;
    color: rgb(37, 36, 36);
  }
  h2 {
    font-size: 28px;
    margin: 40px 0;
    color: rgb(37, 36, 36);
  }
</style>